@model Cart

    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
               role="button" aria-expanded="false">
                <span class="glyphicon glyphicon-shopping-cart"></span>
               Cart @Model.CartRows.Count()<span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-cart" role="menu">
                @foreach (var row in Model.CartRows)
                {
                    <li>
                        <div class="item">
                            <span class="item-left">
                                <img src="http://via.placeholder.com/50x50" alt="@row.FileUpload.FileTitle">
                                <span class="item-info">
                                    <span>
                                        @row.FileUpload.FileTitle
                                    </span>
                                </span>
                            </span>
                            <div class="item-right">
                                <form asp-action="RemoveFromCart"
                                      asp-controller="Cart"
                                      method="post">
                                    <input type="hidden" name="Id" value="@row.FileUpload.Id" />
                                    <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQueryString()" />
                                    <button type="submit" class="btn btn-xs btn-danger pull-right">Ta bort</button>
                                </form>
                            </div>
                        </div>
                    </li>
                }
                <li class="divider"></li>
                <li><a asp-controller="Cart" asp-action="Index">Till Varukorgen</a></li>
            </ul>
        </li>
    </ul>
