@model CartViewModel
@{
    ViewData["Title"] = "Cart";
}

<h2 style="margin-left:150px;">Kundvagn</h2>
<table style="margin-left:150px;" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Antal</th>
            <th>Produkt</th>
            <th>Alternativ</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var r in Model.Cart.CartRows)
        {
            <tr>
                <td class="text-center">@r.Quantity</td>
                <td class="text-center">@r.FileUpload.FileTitle</td>

                <td>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <form asp-action="DownloadImage"
                                      asp-controller="Cart"
                                      method="post">
                                    <input type="hidden" name="Id" value="@r.FileUpload.Id" />
                                    <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                                    <button class="btn btn-success pull-right" type="submit">Ladda ner</button>
                                </form>
                            </div>
                            <div class="col-lg-6">
                                <form asp-action="RemoveFromCart"
                                      asp-controller="Cart"
                                      method="post">
                                    <input type="hidden" name="Id" value="@r.FileUpload.Id" />
                                    <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                                    <button class="btn btn-danger pull-right" type="submit">Ta bort</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<div style="margin-left:150px;" class="pull-right">
    <a class="btn btn-primary" style="color: black;" href="@Model.ReturnUrl">Fortsätt handla</a>
    <a class="btn btn-success" asp-action="DownloadAllZip" asp-controller="Cart">Ladda ner alla</a>
</div>


