@model CartViewModel
@{
    ViewData["Title"] = "Favourites";
}

    <h1 style="margin-left:150px; margin-top: 40px;">Favourites</h1>
<div style="margin-left:150px;">
    <form asp-action="DownloadAllImagesZip" asp-controller="Cart" method="post">
        <button class="btn btn-block btn-primary">DOWNLOAD ALL IMAGES</button>
    </form>
</div>
<br />
<table style="margin-left:150px;" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Antal</th>
            <th>Images</th>
            <th>Produkt</th>
            <th>Alternativ</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var r in Model.Cart.CartRows)
        {
            <tr>
                <td class="text-center">@r.Quantity</td>
                <td>
                    <img src="@r.FileUpload.FilePath" width="120" height="120" style="margin: 5px;" alt="@r.FileUpload.FileTitle">
                </td>
                <td class="text-center">@r.FileUpload.FileTitle</td>

                <td>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <form asp-action="DownloadSingleImage"
                                      asp-controller="Cart"
                                      method="post">
                                    <input type="hidden" name="UploadIdForDownload" value="@r.FileUpload.Id" />
                                    <button class="btn btn-primary pull-right" type="submit">Download</button>
                                </form>
                            </div>
                            <div class="col-lg-6">
                                <form asp-action="RemoveFromCart"
                                      asp-controller="Cart"
                                      method="post">
                                    <input type="hidden" name="Id" value="@r.FileUpload.Id" />
                                    <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                                    <button class="btn btn-secondary pull-right" type="submit">Remove</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<div style="margin-left:150px;" class="pull-right">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Back to Gallery</a>
</div>


